# Python byte-code
__pycache__/
*.pyc

# Игнорирование папки среды виртуального окружения Python
venv/

# Игнорирование файлов с локальными настройками
.idea/
.vscode/

# Игнорирование временных файлов
*.tmp

# Игнорирование файлов конфигурации настроек проекта
*.cfg

# Игнорирование файлов логов
*.log

